<%= form_for([@article, @article.comments.build]) do |f| %>
    <p>
        <%= f.label :commenter, "commenter" %>
        <%= f.text_field :commenter %>
    </p>
    <p>
        <%= f.label :body, "Body" %>
        <%= f.text_area :body %>
    </p>
    <p>
        <%= f.submit "Create comment", disable_with: 'Submiting...' %>
    </p>
    
<% end %>